.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d6d6d6;
}

.header__row {
  display: flex;
  align-items: center;

}


.header__nav {
  margin-left: 172px;
  font-weight: 500;
  color: #292929;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 72px;
}
.header__nav a {
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.header__nav a:hover {
  color: #01996d;
}
.header__login {
  display: flex;
  align-items: center;
  column-gap: 35px;
  margin-left: auto;
}
.header__login a {
  color: black;
}
.header__login a:hover {
  color: #01996d;
  transition: color 0.2s ease;
}
.header__login-btn {
  display: inline-block;
  min-height: 50px;
  /* width: 173px; */
  padding: 13px 50px;
  
}
